#bookmark-options {
    list-style-image: url("chrome://imacros/skin/morebutton-closed.png");
}

#bookmark-options[open="true"] {
    list-style-image: url("chrome://imacros/skin/morebutton-open.png");
}

#bookmark-location-menulist[selectedIndex="0"],
#bookmark-location-menu {
    list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png") !important;
}

#bookmark-location-menulist[selectedIndex="1"],
#bookmark-location-toolbar {
    list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
}
