@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* common dialog overlay */
#imacros-commdlg-message {
    background-color: #ffffdc;
    border: 1px solid;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    margin: 3px;
    margin-bottom: 5px;
}

#imacros-commdlg-image {
    list-style-image: url("chrome://imacros/skin/togglebutton_big.gif");
}

