@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* sidebar */

treechildren:-moz-tree-image(container) {
    list-style-image: url("chrome://imacros/skin/folder.png");
    margin-right: 7px;
}

treechildren:-moz-tree-image(container,closed) {
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

treechildren:-moz-tree-image(container,open) {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}

treechildren:-moz-tree-image(js-file) {
    list-style-image: url("chrome://imacros/skin/jslogo.gif");
    margin-right: 7px;
}

treechildren:-moz-tree-image(iim-file) {
    list-style-image: url("chrome://imacros/skin/imglog.png");
    margin-right: 7px;
}

listitem[selected=true] {
    background-color: #316ac5;
    color: #ffffff;
}


#path-error-dialog {
    border-color: #aaaaaa;
    -moz-border-radius: 4px;
    border-width: thin;
    border-style: solid;
    background-color: #ffffe1;
}

#path-error-text {
    color: red;
    font-weight: bold;
    padding: 7px;
}



#im-play-button-decoration {
    margin-left: 2px;
    margin-right: 2px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #006cf3;
}

#im-record-button-decoration {
    margin-left: 2px;
    margin-right: 2px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(255, 192, 128);
}



#boxstat {
    font-size: smaller;
    font-family: monospace;
    border: 0pt none;
    margin: 0pt;
    padding: 0pt;
}


#replaystat {
    /* -moz-border-radius: 3px; */
    border: 1px solid #bfbfbf;
    margin: 0pt;
    padding: 0pt;
    background-color: #ffffff;
}


#replaystat[status="playing"] {
    background-color: #fbff90;
}

#replaystat[status="recording"] {
    background-color: #ff9090;
}

#delaystat {
    /* -moz-border-radius: 3px; */
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    margin: 0pt;
    padding: 0pt;
    background-color: #90ffaf;
}

#delaystat[loadCheck="true"] {
    background-color: #ff9090;
}

#boxlistbox {
	border: 0pt none;
	margin: 0pt;
	padding: 0pt;
}

#listbox {
	border: 0pt none;
	margin: 0pt;
	padding: 0pt;
}

#treeview {
	border: 0pt none;
	margin: 0pt;
	padding: 0pt;
}

#dropdown {
    list-style-image: url("chrome://imacros/skin/folder.png");
}


#mainlogo, #mainlogo_1 {
    list-style-image: url("chrome://imacros/skin/logo.gif");
}

#im-clickmode-label {
    margin-left: 0px;
    margin-top: 7px;
    background-color: rgb(255, 192, 128);
}

#text, #edit_box {
	padding: 0 10px 10px 10px;
}


#question {
	padding: 5px 20px 10px 20px;
}

#myCancel1 {
	/*width: 40px !important;*/
	min-width: 40px;
}


#maintabs2 label {
	text-align: center;
	padding-top: 2px;
}

#curloop, #loopval {
	text-align: center;
	width: 50px !important;	
}


/* Message box */
#imacros-messages {
    border-color: #aaaaaa;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-width: thin;
    border-style: solid;
}

#imacros-message-box {
    background-color: #a8ffab;
    font-size: smaller;
    padding: 5px !important;
}

#imacros-message-box[msgtype="error"] {
    background-color: #ffffe1;
    /* background-color: #ffebeb; */
    /* color: red; */
}


#message-box-container {
    margin: -5px;
    /* border-width: thin; */
    /* border-style: solid; */
    /* border-color: #aaaaaa; */
}

#message-box-buttons-container {
    /* border: 1px solid red; */
    -moz-box-pack: center;
}

#message-box-button-close {
    list-style-image: url("chrome://imacros/skin/close.png");
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#message-box-button-close:hover {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}


#message-box-button-help {
    list-style-image: url("chrome://imacros/skin/help.png");
    margin-right: 5px;
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#message-box-button-help:hover {
    -moz-image-region: rect(0px, 32px, 16px, 16px);    
}

#message-box-button-edit {
    list-style-image: url("chrome://imacros/skin/edit.png");
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#message-box-button-edit:hover {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}


#im-test-for-idrone {
    margin-top: -5px;
    margin-left: 15px;
    font-size: 90%;
}

#im-test-for-idrone-link {
    margin-top: -5px;
    margin-left: 0px;
    font-size: 90%;
}